{
  "arrowParens": "avoid",
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2
}